<div class="handler">
    <div class="buttons-handler">
        <button mat-raised-button [routerLink]="['/projects-to-sponsor']">Patrocinar</button>
        <button mat-raised-button [routerLink]="['/create-project']">Cadastrar projeto</button>
        <button mat-raised-button [routerLink]="['/my-projects']">Meus Projetos</button>
        <button mat-raised-button [routerLink]="['/my-sponsors']">Meus patrocinadores</button>
        <button mat-raised-button [routerLink]="['/home']">Validar documentos</button>
    </div>
</div>