<div class="handler">
    <div class="buttons-handler">
        <button mat-raised-button [routerLink]="['/projects-to-sponsor']">Patrocinar</button>
        <button mat-raised-button [routerLink]="['/create-project']">Cadastrar projeto</button>
        <button mat-raised-button [routerLink]="['/home']">Meus patrocinios</button>
        <button mat-raised-button [routerLink]="['/home']">Meus patrocinadores</button>
        <button mat-raised-button [routerLink]="['/home']">Meus projetos</button>
        <button mat-raised-button [routerLink]="['/home']">Validar documentos</button>
    </div>
</div>