.handler {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

.buttons-handler {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.buttons-handler > * {
    margin-top: 20px;
}