<div class="handler">
    <form class="form-handler">
        <mat-form-field>
            <input matInput placeholder="Nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="numeric" placeholder="CPF/CNPJ">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Usuário">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Senha">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirmar senha">
        </mat-form-field>
    </form>
    <button mat-raised-button [routerLink]="['/home']">Registrar</button>
</div>